body {
  display: flex;
  flex-direction: column;
  height: 93vh;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #eee;
  font-family: "Dosis", sans-serif;
}

.winner-btn {
  position: relative;
  background: none;
  cursor: pointer;
  color: aqua;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
  border: 0.2em solid aqua;
  padding: 0.5em 1em;
}

.winner-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.winner-btn:hover::before {
  right: 80%;
}

.winner-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.winner-btn:hover::after {
  left: 80%;
}

.winner-btn:focus {
  outline: 0;
}
